.calc-wrapper {
    //display: flex;
    margin:0 auto;
    justify-content:center;
    align-items: center;
    width: 350px;
    height: 400px;
    background-color: rgb(158, 133, 187);
    padding-top: 50px;
    border:2px solid;
    border-color: rgb(118, 108, 181);
    border-radius: 25px;
    .calc-wrapper__display {
        width: 350px;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        //background-color:rosybrown;
        input {
            width: 260px;
            height:50px;
            background: rgb(79, 69, 142);
            border-color: rgb(133, 78, 133);
        }
    }
    .calc-wrapper__digits {
        width: 350px;
       // height: 600px;
        .calc-wrapper__row {
          width: 350px;
          justify-content: center;
          display: flex;
          .calc-wrapper__button {
              border-radius: 20px;
              font-size: 20px;
              border-color: rgb(215, 181, 237);
              width: 55px;
              height: 55px;
              font-family:Verdana, Geneva, Tahoma, sans-serif;
              color: rgb(117, 46, 134);
              background: rgb(235, 245, 211);
              //font-weight: 300;
              margin:9px;
            }
        }
    }
    
  }
  


